.Perfil-Header{
    height: 12vh;
    width: 100%;
    background: linear-gradient(15deg, #36013F , #343837 );
}

.sidebarperfil{
    position: fixed;
    left: 1368px;
    width: 250px;
    height: 100%;
    margin-top: none;
    background: linear-gradient(15deg, #36013F , #343837 );
    transition: all .5s ease;
}

.sidebarperfil header{
    font-size: 25px;
    color: #fff;
    margin-left: 15px;
    margin-bottom: 15px;
    text-align: left;
    line-height: 70px;
    user-select: none;
    transition: all .5s;
}

.sidebarperfil ul a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: #fff;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transition: all .4s;
}

ul li:hover a{
    padding-right: 60px;
}

.sidebarperfil ul a li{
    margin-right: 160px;
}

#check{
    display: none;
}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    border-radius: 3px;
}

label #btn{
    left: 1290px;
    top: 10px;
    font-size: 40px;
    color: #fff;
    padding: 6px 12px;
    transition: all .5s ease;
}

label #cancel{
    z-index: 1111;
    left: -100px;
    top: 12px;
    font-size: 40px;
    color: #fff;
    background: #282c34;
    padding: 2px 6px;
    transition: all .0s
}


#btn1{
    margin-left: 10px;
    color: #fff;
}

#check:checked ~ .sidebarperfil{
    left: 1116px;
}

#check:checked ~ label #btn{
    right: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
    left: 1310px;
}

#check:checked ~ Inicial{
    margin-right: 250px;
}

.container-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-perfil{
    display: flex;
    background-color: white;
    flex-direction: column;
    height: 85vh;
    width: 59vw;
    margin-top: 50px;
}

.titulo-perfil{
    display: flex;
    align-items: center;
    height: 7vh;
    width: 100%;
    border: black solid 2px;
}

.titulo-perfil h1{
    font-size: 29px;
}

.titulo-perfil h1:hover{
    color: #36013F;
}


.informacao{
    display: flex;
    justify-content: center;
}

.informacao-container{
    display: flex;
    height: 54vh;
    width: 59vw;
    border: pink solid 2px;
}

.foto{
    height: 24vh;
    width: 12vw;
    border: black solid 1px;
}

.dados-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53vh;
    width: 50vw;
    border: black solid 1px;
}

.dados{
    display: flex;
    height: 45vh;
    width: 42vw;
    border: black solid 1px;
}