.MenuCadastro{
    height: 11.5vh;
    width: 100%;
    background: linear-gradient(15deg, #36013F , #343837 );
}

.sidebarperfil {
    position: fixed;
    left: -260px;
    width: 40vh;
    height: 100%;
    background: linear-gradient(15deg, #36013F , #343837 );
    transition: all .5s ease;
  }

  .sidebarperfil header {
    font-size: 22px;
    color: white;
    line-height: 70px;
    text-align: center;
    user-select: none;
  }

  .sidebarperfil ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    text-align: left;
    text-decoration: none;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid black;
    border-bottom: 1px solid rgba(255,255,255,.1);
    transition: .4s;
  }
  ul li:hover a{
    padding-left: 100px;
  }

  .sidebarperfil ul a i{
    margin-right: 16px;
  }

  #check{
    display: none;
  }

label #cancel2{
    position: absolute;
    border-radius: 3px;
    cursor: pointer;
  }


  label #cancel2{
    z-index: 2;
    top: 17px;
    left: 40px;
    font-size: 30px;
    color: #D8DCD6;
    padding: 4px 9px;
    transition: all .5s ease;
  }

  #check:checked ~ .sidebarperfil{
    left: 0;
  }



  #check:checked ~ label #cancel2{
    margin-top: 25px;
    left: 5px;
  }


.carrinho{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.carrinho-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    margin-top: 39px;
    height: 87vh;
    width: 50vw;
    border-radius: 10px;
}

.titulo-carrinho{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 100%;
}

.titulo-carrinho h1{
    font-size: 25px;
}

.titulo-carrinho h1:hover{
    color: #A442A0;
}

.item-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    height: 35vh;
    width: 93%;
    border: black solid 1px;
}

.item1{
    height: 23vh;
    width: 9.5vw;
    border: pink solid 1px;
}

.item1 img:hover{
    height: 23.5vh;
    width: 10vw;
}

.descricao1{
    height: 23vh;
    width: 10.5vw;
}

.item2{
    height: 23vh;
    width: 9.5vw;
    border: pink solid 1px;
}

.item2 img:hover{
    height: 23.5vh;
    width: 10vw;
}

.descricao2{
    height: 23vh;
    width: 10.5vw;
}

.nomes{
    display: flex;
    flex-direction: column;
    margin: 0%;
    width: 100%;
    height: 11.5vh;
}

.preco{
    display: flex;
    flex-direction: column;
    margin: 0%;
    width: 100%;
    height: 11.5vh;
}

.preco p,a{
    font-size: 12px;
    text-align: center;
}

.preco a:hover{
    color: #A442A0;
}

.nomes p{
    font-size: 12px;
    text-align: center;
}

.botao-comprar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    width: 100%;
}

.botao-comprar button{
    background-color: #33B864;
    color: white;
    height: 47px;
    width: 133px;
    border-radius: 6px;
}

.item-container p{
    color: black;
}