.Carrinho-Header{
    height: 12vh;
    width: 100%;
    background: linear-gradient(15deg, #36013F , #343837 );
}

.sidebarperfil{
    position: fixed;
    left: 1368px;
    width: 250px;
    height: 100%;
    margin-top: none;
    background: linear-gradient(15deg, #36013F , #343837 );
    transition: all .5s ease;
}

.sidebarperfil header{
    font-size: 25px;
    color: #fff;
    margin-left: 15px;
    margin-bottom: 15px;
    text-align: left;
    line-height: 70px;
    user-select: none;
    transition: all .5s;
}

.sidebarperfil ul a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: #fff;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transition: all .4s;
}

ul li:hover a{
    padding-right: 40px;
}

.sidebarperfil ul a li{
    margin-right: 160px;
}

#check{
    display: none;
}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    border-radius: 3px;
}

label #btn{
    left: 1290px;
    top: 10px;
    font-size: 40px;
    color: #fff;
    padding: 6px 12px;
    transition: all .5s ease;
}

label #cancel{
    z-index: 1111;
    left: -100px;
    top: 12px;
    font-size: 40px;
    color: #fff;
    background: #282c34;
    padding: 2px 6px;
    transition: all .0s
}


#btn1{
    margin-left: 10px;
    color: #fff;
}

#check:checked ~ .sidebarperfil{
    left: 1116px;
}

#check:checked ~ label #btn{
    right: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
    left: 1310px;
}

#check:checked ~ Inicial{
    margin-right: 250px;
}

.carrinho{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.carrinho-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    margin-top: 39px;
    height: 87vh;
    width: 50vw;
}

.titulo-carrinho{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 100%;
}

.titulo-carrinho h1{
    font-size: 25px;
}

.titulo-carrinho h1:hover{
    color: #A442A0;
}

.item-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    height: 35vh;
    width: 93%;
    border: black solid 1px;
}

.item1{
    height: 23vh;
    width: 9.5vw;
    border: pink solid 1px;
}

.item1 img:hover{
    height: 23.5vh;
    width: 10vw;
}

.descricao1{
    height: 23vh;
    width: 10.5vw;
}

.item2{
    height: 23vh;
    width: 9.5vw;
    border: pink solid 1px;
}

.item2 img:hover{
    height: 23.5vh;
    width: 10vw;
}

.descricao2{
    height: 23vh;
    width: 10.5vw;
}

.nomes{
    display: flex;
    flex-direction: column;
    margin: 0%;
    width: 100%;
    height: 11.5vh;
}

.preco{
    display: flex;
    flex-direction: column;
    margin: 0%;
    width: 100%;
    height: 11.5vh;
}

.preco p,a{
    font-size: 12px;
    text-align: center;
}

.preco a:hover{
    color: #A442A0;
}

.nomes p{
    font-size: 12px;
    text-align: center;
}

.botao-comprar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    width: 100%;
}

.botao-comprar button{
    background-color: #33B864;
    color: white;
    height: 47px;
    width: 133px;
    border-radius: 6px;
}
