.fundo1{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(15deg, #36013F , #343837 );
    height: 100vh;
    width: 100%;
}

.confirmacaosenha{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 45vh;
    width: 48vw;

    border: black solid 1px;
    border-radius: 10px;
}

.confirmaremail{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 61px;
    width: 45vw;
}

.descricao{
    display: flex;
    height: 70px;
    width: 45vw;
}

.descricao p{
    text-align: flex-start;
}

.confirmaremail h1{
    font-size: 23px;
    margin-top: 13px;
    margin-left: 12px;
}

.codigo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 45vw;
}

.botao{
    height: 60px;
    width: 45vw;
}

.reenviar{
    display: flex;
    align-items: center;
    height: 50px;
    width: 20vw;
}

.confirmar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 30vw;
}


.codigo input{
    display: flex;
    height: 40px;
    width: 20vw;
}

.input{
    display: flex;
}


