.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(15deg, #36013F , #343837 );
    height: 12vh;
    width: 100%;
}

.contato{
    display: flex;
}


.container2{
    background-color: #D8DCD6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87vh;
}


.login{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 65vh;
    width: 43vw;

    border: solid  #D8DCD6 1px;
    border-radius: 8px;

    flex-direction: column;
}

.opçoes{
    width: 100%;
    color: #c8d6e5;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 18px;
    padding: 0 25px;
}
  
.opçoes a{
    color: #9DBCD4;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70px;
    width: 45vw;

    margin-top: 15px;
}

.botao button{
    background: linear-gradient(#EDC8FE,#9DBCD4);

    height: 47px;
    width: 142px;

    border: none;
    border-radius: 5px;
}











.titulo h1{
    font-size: 25px;
}

.contato p {
    color: white;
}

.imagem p {
    color: white;
}

.form{
    width: 52%;
    position: relative;
    height: 58px;
    overflow: hidden;
}

.form input {
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 14px;
    border: none;
    outline: none;
}

.form label{
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.form label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 0.5px solid rgba(149,0,253,1);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.content-name{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name, 
.form input:valid + .label-name .content-name{
    transform: translateY(-150%);
    font-size: 13px;
    color: #36013F
}

.form input:focus .label-name::after,
.form input:valid + .label-name::after {
    transform: translateX(0%);
}