.menu-add-adm{
    display: flex;
    height: 10vh;
    width: 100%;
    background: linear-gradient(15deg, #36013F , #343837 );
}

.container-add-adm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100%;
}

.container-branco-adm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78vh;
    width: 45%;
    background-color: white;
    margin-top: 5vh;
    border-radius: 10px;
}

.container-campos{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 90%;
    width: 90%;
    border: #825F87 solid 2px;
}

.titulo-adm-add{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
}

.titulo-adm-add h1{
    font-size: 23px;
}

.foto-adm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13vh;
    width: 100%;
}

.foto-adm p{
    color: black;
}

.cadastro-adm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 23vh;
    width: 100%;
}

.input-adm-cd{
    display: flex;
    margin-top: 8px;
}

.input-adm-cd input{
    height: 29px;
    padding: 5px;
    border: #36013F solid 2px;
}

.genero-cargo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    height: 9vh;
    width: 100%;
}

.genero-cargo select{
    height: 30px;
    width: 140px;
    font-size: 14px;
}

.botao-cadastrar-adm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 100%;
}

.botao-cadastrar-adm button{
    color: white;
    height: 45px;
    width: 120px;
    background-color: #33b864;
    border: none;
    transition: 0.7s;
    border-radius: 5px;
}
