.container-tudo{
    width: 100vw;
    height: 100vh;
}

.container-principal{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    height: 86vh;
    width: 75vw;
    border: #95A3A6 solid 1px;
    border-radius: 10px;
    border: none;
}

.direito{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(15deg, #36013F , #343837 );
    height: 80vh;
    width: 33vw;
    border-radius: 10px;
    margin-top: 2vh;
}

.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 44vw;
    height: 80vh;
    border-radius: 10px;
    background-color: white;
    margin-top: 2vh;
}


.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 62vh;
    width: 36vw;
}

.genero{
    width: 150px;
    height: 36px;
    margin-bottom: 1px;
    font-size: calc(5px + 2vmin);
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.assinante{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
    padding: 0;
}

.botaocadastro button{
    background: linear-gradient(#EDC8FE,#9DBCD4);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    height: 43px;
    width: 165px;
    font-size: 14px;
}


.direito h1{
    color: white;
    font-size: 24px;
    margin-top: 0px;
}

.direito p{
    color: #D8DCD6;
    font: 12px;
    margin-top: 0px;
}

.cadastro h1{
    font-size: 26px;
}