*{
    margin: 0px;
    padding: 0px;
}


body{
    height: 100%;
    width: 100%;
    background: #D8DCD6;
}

.Inicial-Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20vh;
    display: flex;
    width: 100%;
    background: linear-gradient(15deg, #36013F , #343837 );
}

.Logo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 140px;
    height: 120px;
}


.Pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 40px;
    margin-top: 60px;
    margin-right: 350px;
    margin-left: 170px;
    padding: 10px 10px;
    border-radius: 100px;
    
    color: #482d66;
    background-color: #fff;
}

.Pesquisa input{
    padding: 5px;
    border: none;
    outline: none;
    width: 400px;
    height: 30px;

    color: #482d66;
    background-color: #fff;
}
