*{
    margin: 0px;
    padding: 0px;
}

.Inicial{
    text-align: center;
    width: 100vw;
    display: flex;
    flex-direction: column;

}
  
.Inicial-Header{
    min-height: 25%;
    display: flex;
    flex-direction: row;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100%;
    height: 100%;
    background: #222f3e;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(15deg, #36013F , #343837 );
}

.Logo{
    width: 140px;
    height: 120px;
    margin: 20px;
    border-radius: 100px;
    align-items: flex-start;
    justify-content: left;

    background-color: #482d66;
}

.Pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 40px;
    margin-top: 95px;
    margin-right: 350px;
    padding: 10px 10px;
    border-radius: 100px;
    
    background-color: #fff;
}

.Pesquisa input{
    padding: 5px;
    border: none;
    outline: none;
    width: 400px;
    height: 30px;

    color: #482d66;
    background-color: #fff;
}

.BotoesCabeçalho{
    margin: 5px;
    border: none;
    outline: none;
    border-radius: 50px;
}

.BotoesCabeçalho1{
    margin-right: 20px;
    color: #fff;
}

.BotoesCabeçalho2{
    margin-right: 10px;
    color: #fff;
}


i{
    cursor: pointer;
    color:#482d66;
}

.Cabecalho{
    display: flex;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.OpcoesCabeçalho{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: #482d66;
}



.OpcoesCabeçalho2{
    display: block;
    font-size: 25px;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
    color: #fff;
}

.OpcoesCabe2:hover{
    color: #36013F;
}

body{
    height: 100%;
    width: 100%;
    background: #D8DCD6;
}


.sidebar{
    position: fixed;
    left: 1368px;
    width: 250px;
    height: 100%;
    background: linear-gradient(15deg, #36013F , #343837 );
    transition: all .5s ease;
}

.sidebar header{
    font-size: 25px;
    color: #fff;
    margin-left: 15px;
    margin-bottom: 15px;
    text-align: left;
    line-height: 70px;
    user-select: none;
    transition: all .5s;
}

.sidebar ul a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: #fff;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transition: all .4s;
}

ul li:hover a{
    padding-right: 60px;
}

.sidebar ul a li{
    margin-right: 160px;
}

#check{
    display: none;
}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    border-radius: 3px;
}

label #btn{
    left: 1290px;
    top: 10px;
    font-size: 40px;
    color: #fff;
    padding: 6px 12px;
    transition: all .5s ease;
}

label #cancel{
    top: 12px;
    font-size: 40px;
    color: #fff;
    background: #282c34;
    padding: 2px 6px;
    transition: all .5s ease
}

.botaologout{
    margin-top: 270px;
}

.botaologout1{
    color: #fff;
}

#btn1{
    margin-left: 10px;
    color: #fff;
}

#check:checked ~ .sidebar{
    left: 1116px;
}

#check:checked ~ label #btn{
    right: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
    left: 1100px;
}

#check:checked ~ Inicial{
    margin-right: 250px;
}


.livros-aventura{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; 
    width: 95vw;
}

.container-aventura{
    height: 45vh;
    width: 90%;
    background-color: white;
}

.titulo-aventura{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 08vh;
    width: 90%;
}


.titulo-aventura h1{
    font-size: 22px;
}

.livros-box{
    display: flex;
    align-items: center;
}

.livros{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    width: 90%;
    margin-top: 16px;
    border: black solid 1px;
}

.livro1{
    height: 26vh;
    width: 10vw;
}

.livros-romance{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px; 
    width: 95vw;
}

.container-romance{
    height: 45vh;
    width: 90%;
    background-color: white;
}

.titulo-romance{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 08vh;
    width: 90%;

}

.titulo-romance h1{
    font-size: 22px;
}

.livro-mais{
    display: flex;
    align-items: flex-end;
    height: 10vh;
    width: 7.5vw;
}

.destaque{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
}

.container-destaque{
    height: 70vh;
    width: 90%;
    margin-top: 30px;
    background-color: white;
}

.titulo-destaque{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    width: 100%;
}

.titulo-destaque h1{
    font-size: 32px;
}

.destaque-box{
    display: flex;
    align-items: center;
}

.livros-destaque{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 61vh;
    width: 100%;
    border: #343837 solid 1px;
}

.destaque1{
    display: flex;
    height: 45vh;
    width: 30vw;
}

.livros-terror{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px; 
    width: 95vw;
}

.container-terror{
    height: 45vh;
    width: 90%;
    background-color: white;   
}

.titulo-terror{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 08vh;
    width: 90%;
}

.titulo-terror h1{
    font-size: 22px;
}





h1:hover{
    color: #C83CB9;
}

p:hover{
    color: #C83CB9;
    text-decoration: none;
}

.livros a{
    text-decoration: none;
}

.menu-baixo{
    display: flex;
    flex-direction: column;
    background: linear-gradient(15deg, #36013F , #343837 );
    height: 15vh;
    margin-top: 45px;
    width: 100%;
    border: black solid 1px;
}