.fundo2{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(15deg, #36013F , #343837 );
    height: 100vh;
    width: 100%;
}

.boxcadastro{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 85vh;
    width: 47vw;
    border-radius: 10px;
}

.nomecadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 45vw;

}

.inputendereco{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 37vw;

}

.botoes{
    display: flex;
    height: 60px;
    width: 100%;
}

.botaovoltar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 18vw;
}

.botaovoltar button {
    background: linear-gradient(#EDC8FE,#9DBCD4);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    height: 43px;
    width: 165px;
    font-size: 14px;
}

.botaoconfirmar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 55px;
    width: 37vw;
}

.botaoconfirmar button{
    background: linear-gradient(#EDC8FE,#9DBCD4);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    height: 43px;
    width: 165px;
    font-size: 14px;
}



.nomecadastro h1{
    font-size: 26px;
}